*{
  margin: 0;
  padding: 0;
}

:root{
  --background-color: #262626;
  --primText-color: #03fcdf;
}

.container1{
  background-color: var(--background-color);
  height: 100vh;
}

.helloMsg{
  color: var(--primText-color);
}